<!DOCTYPE html><html dir="ltr" lang="pl" class=" home_page home_page_design s_layout1 isFreePackage  "><head> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=device-width, initial-scale=1"> <meta charset="utf-8"> <link rel="dns-prefetch preconnect" href="https://cdn-cms-s.f-static.net" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://cdn-cms-s.f-static.net" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://cdn-cms.f-static.net" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://cdn-cms-s.f-static.net" crossorigin="anonymous"/> <link rel="dns-prefetch preconnect" href="https://cdn-cms.f-static.net" crossorigin="anonymous"/> <link rel="preload" href="https://cdn-cms.f-static.net/ready_uploads/media/21171/2000_5cdbdfb9aa8b8.jpg" as="image"> <link rel="preload" href="//cdn-cms-s.f-static.net/files/font-awesome-4.7/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin> <!-- Favicon --> <link rel="shortcut icon" href="//cdn-cms-s.f-static.net/manager/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=r6910" type="image/x-icon"> <link rel="icon" href="//cdn-cms-s.f-static.net/manager/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=r6910" type="image/x-icon"> <link rel="manifest" href="//cdn-cms-s.f-static.net/versions/2/css/manifest.json?w=&orderScreen=&websiteID=4163117&onlyContent=&tranW=&v=r6910_20505113&wd=5f4de9c095797.site123.me"><!-- Status Bar --><meta name="apple-mobile-web-app-status-bar-style" content="default"><!-- 152px icon --><link rel="apple-touch-icon" sizes="152x152" href="//cdn-cms-s.f-static.net/ready_uploads/pwaScreenLogo/pwaImage.png?width=152&height=152&resizeType=pwaIcon&w=&orderScreen=&websiteID=4163117&tranW=&v=r6910_20505113"><!-- 180px icon --><link rel="apple-touch-icon" sizes="180x180" href="//cdn-cms-s.f-static.net/ready_uploads/pwaScreenLogo/pwaImage.png?width=180&height=180&resizeType=pwaIcon&w=&orderScreen=&websiteID=4163117&tranW=&v=r6910_20505113"><!-- 167px icon --><link rel="apple-touch-icon" sizes="167x167" href="//cdn-cms-s.f-static.net/ready_uploads/pwaScreenLogo/pwaImage.png?width=167&height=167&resizeType=pwaIcon&w=&orderScreen=&websiteID=4163117&tranW=&v=r6910_20505113"> <!-- Mobile Browser Address Bar Color --> <meta name="theme-color" content="#2acbd2"> <!-- Regular Meta Info --> <title class="s123-js-pjax">Fakturorama</title> <meta name="description" content="Fakturorama" class="s123-js-pjax"> <meta name="keywords" content="" class="s123-js-pjax"> <link rel="canonical" href="https://5f4de9c095797.site123.me/" class="s123-js-pjax"/> <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171296505-1"></script> <script>      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171296505-1');
    </script> <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&display=swap" rel="stylesheet" type="text/css"> <!-- Facebook Meta Info --> <meta property="og:url" content="https://5f4de9c095797.site123.me/" class="s123-js-pjax"> <meta property="og:image" content="https://cdn-cms.f-static.net/ready_uploads/media/21171/800_5cdbdfb9aa8b8.jpg" class="s123-js-pjax"> <meta property="og:description" content="Fakturorama" class="s123-js-pjax"> <meta property="og:title" content="Fakturorama" class="s123-js-pjax"> <meta property="og:site_name" content="Fakturorama" class="s123-js-pjax"> <meta property="og:see_also" content="https://5f4de9c095797.site123.me" class="s123-js-pjax"> <!-- Google+ Meta Info --> <meta itemprop="name" content="Fakturorama" class="s123-js-pjax"> <meta itemprop="description" content="Fakturorama" class="s123-js-pjax"> <meta itemprop="image" content="https://cdn-cms.f-static.net/ready_uploads/media/21171/800_5cdbdfb9aa8b8.jpg" class="s123-js-pjax"> <!-- Twitter Meta Info --> <meta name="twitter:card" content="summary" class="s123-js-pjax"> <meta name="twitter:url" content="https://5f4de9c095797.site123.me/" class="s123-js-pjax"> <meta name="twitter:title" content="Fakturorama" class="s123-js-pjax"> <meta name="twitter:description" content="Fakturorama" class="s123-js-pjax"> <meta name="twitter:image" content="https://cdn-cms.f-static.net/ready_uploads/media/21171/800_5cdbdfb9aa8b8.jpg" class="s123-js-pjax">            
                            <!-- Website CSS variables --> <style>    :root { --global_main_color: #2acbd2; --home_text_color: #ffffff; --home_third_background_color: #000000; --home_custom_image_size: px; --home_text_size_px: 70px; --home_text_size_2_px: 45px; --slogan_text_size_px: 22px; --home_text_size: 70; --home_text_size_2: 45; --slogan_text_size: 22; --home_text_size_px_media: 70px; --home_text_size_2_px_media: 45px; --slogan_text_size_px_media: 22px; --layout_text_align: center; --layout_text_align_rtl: center; --layout_text_box_width: 100%; --layout_left_side_width: 50%; --layout_left_side_width_vh: 50vh; --homepage_layout_height: 75%; --homepage_layout_height_vh: 75vh; --homepage_layout_height_menu_space: 0px; --mainNavMobileHeight: 0px; --homepage_layout_height_opacity_space_top: 0px; --homepage_layout_height_opacity_space_bottom: 0px; --mobileMenuFontSize: 20px; --mobileMenuPagesSpace: 5px; --homepageShapeDividerList_Size: 17%; --homepage_goal_space: 0px; --homepage_second_goal_space: 0px; --layout_bottom_spacing: 0px; --window-height: 100vh; --window-width: 100vw; --menu_font_size: 14px; --menu_pages_space: 1px; --menu_pages_side_padding: 15px; --menu_pages_letter_spacing: 0.5px; --menu_pages_word_spacing: 0px; --menu_thin_border: #ebebeb; --mobileMenuTextAlign: center; --menu_text_color: #252525; --menu_color: #ffffff;
    } 
    </style> <!-- Custom CSS --> <!-- Minimize CSS files --><link rel="stylesheet" href="//cdn-cms-s.f-static.net/versions/2/css/minimize_main.css?v=r6910" type="text/css" crossorigin="anonymous"><link rel="stylesheet" href="//cdn-cms-s.f-static.net/versions/2/css/websiteCSS.css?w=&orderScreen=&websiteID=4163117&onlyContent=&tranW=&v=r6910_20505113" class="reloadable-css" type="text/css"> <!-- Froala Editor CSS --> <!-- Google AdSense --> </head><body id="page-top"> <div class="body"> <div id="websiteHeader"> <nav id="mainNav" class="hidden-xs navbar-default navbar-fixed-top  opacity-no"> <div class="site_container"> <div class="navbar-header"> <a href="#page-top" class="logo_name navbar-brand s123-w-l-s page-scroll logoStyle_20"><span class="website-name">Fakturorama</span></a> </div> <div id="top-menu"> <ul class="navPages nav navbar-nav"> <li class="moduleMenu active"></li> </ul> <ul class="navActions nav navbar-nav"> <!-- Multi Currency --> <!-- Show Header Social --> <li class="header-social-wrapper "><a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="social_menuCallActionIcons"><i class="fa fa-share-alt"></i></a></li> <!-- Cart --> <li class="header-cart-wrapper orderOpenCart "><a class="actionButton btn-primary-action-button-4" role="button"><i class="fa fa-shopping-cart"><span class="count"></span></i></a></li> <!-- Menu Action Buttons --> </ul> </div> </div> </nav> <!-- Sticky Menu --> <input type="hidden" id="stickyMenu" name="stickyMenu" value="on"> </div> <nav id="mainNavMobile" class="navbar-fixed-top"> <div class="navPagesLeft"> <div class="header-menu-wrapper"><a data-close-location="left" data-menu-color="" data-menu-type="0" data-menu-align="center" data-is-mobile="true" class="mobile-menu-btn actionButton" role="button" data-container="body" data-toggle="menuCallActionIcons"><i class="fa fa-bars"></i></a></div> </div> <div class="navbar-header"> <a href="#page-top" class="logo_name navbar-brand s123-w-l-s page-scroll logoStyle_20"><span class="website-name">Fakturorama</span></a> </div> <div class="navPagesRight"> <ul class="navActions nav navbar-nav"> <!-- Show header social --> <li class="header-social-wrapper "><a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="social_menuCallActionIcons"><i class="fa fa-share-alt"></i></a></li> <!-- Cart --> <li class="header-cart-wrapper orderOpenCart "><a class="actionButton btn-primary-action-button-4" role="button"><i class="fa fa-shopping-cart"><span class="count"></span></i></a></li> </ul> </div> </nav> <div id="top-menu-mobile" style="display:none;"> <ul> <li class="moduleMenu active"></li> </ul> </div> <div id="s123PjaxMainContainer"> <section id="top-section" class="homepage_style_1 top_magic_homepage_kind_1  parallax-on old_homepage_layout_log old_homepage_layout_structure_log"><div class="home_background_wrapper parallax-on"><div class="parallax-window home-image-bg" data-parallax="scroll" data-bleed="0" data-idele="parallax_home_opacity" data-opacity="0.5" data-filter="" data-backgroundcolor="#000000" data-image-src="https://cdn-cms.f-static.net/ready_uploads/media/21171/2000_5cdbdfb9aa8b8.jpg" data-position="center center" data-background-position="center center" style="background-position:center center"></div></div><div class="magic_homepage magic_homepage_kind_simple magic_homepage_kind_1 homepage-layout-24 container parent_simple_object_position_center_center"><div class="home_main_wrapper main_ele_place_bottom simple_object_position_center_center"><div class="box_container boxStyle_"><div class="boxBorder  ele_align_center"><h1 id="home_siteSlogan" class=" weight700  shadow1  0 16" >Fakturorama</h1><h2 id="home_siteSlogan_2" class=" weight400  shadow1  0 30" style="display:none"></h2><p id="home_SecondSiteSlogan" class=" weight400  shadow1  1 20" >Invoices are us!</p></div><div class="homepage_goal space_from_bottom_mainGoal ele_align_center" style="position: relative;max-width: 100%;">
                                    <div class="promoButtons align_center">
                                        <a href="{{ path("invoice_list") }}"id="home_buttonText" class="btn btn-primary btn-xl " "><span class="h-b-container"><span class="h-b-t">
                                                    <span class="h-b-t">English</span>
                                                        
                                                </span></span></a>
                                                    <a href="{{ path("invoice_list", {'_locale':'pl'}) }}" id="home_buttonText_1" class="btn btn-primary btn-xl " >
                                                        <span class="h-b-container"><span class="h-b-t"><span class="h-b-t">Polski</span>
                                                    
                                                </span></span></a></div></div></div></div></div></section><footer class="global_footer footer_1"> <div class="container"> <div class="row"> <div class="side1 col-xs-12 col-sm-6 col-md-6"> <div> <span class="footer_name website-name-preview-helper">Fakturorama</span> </div> <div>                                Prawa autorskie © 2020 Wszelkie prawa zastrzeżone
                            </div><div class="clearfix upgrade-website-preview-helper">Obsługiwana przez: <a rel="nofollow" target="_blank" href="https://pl.site123.com">SITE123</a> - <a rel="nofollow" target="_blank" href="https://pl.site123.com">Tworzenie Stron WWW</a></div></div> <div class="side2 col-xs-12 col-sm-6 col-md-6"> <ul class="navPages nav navbar-nav hidden-xs"> <li class="moduleMenu active"><a class="page-scroll homepageMenu" href="#page-top"></a></li> </ul></div> </div> </div> </footer> </div> </div> <div> <div id="header-social-content" style="display:none;"><div class="popover_icons"><div class="social-details-container social-icons"><ul class="list-inline"><li><a href="https://www.facebook.com/feliks.przybyszewski" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li><li><a href="https://www.linkedin.com/in/feliks-przybyszewski-26570959/" target="_blank"><i class="fa fa-linkedin fa-4x"></i></a></li></ul></div></div></div> <input type="hidden" id="facebook_url" name="facebook_url" value=""> <input type="hidden" id="twitter_url" name="twitter_url" value=""> </div> <div id="showSmallAdOnScroll" class="upgrade-website-preview-helper style2"><a rel="nofollow" target="_blank" href="https://www.site123.com/?utm_source=user-website&utm_medium=powered-by-ad-pl&utm_content=all&utm_campaign=all"><span class="s123-b-b-s-1">I BUILT MY SITE FOR FREE USING</span> <img src="//cdn-cms-s.f-static.net/manager/site123_website/files/logos/brand_files_2020/Logo/Horizontal/PNG/Horizontal_Black.png?v=r6910" style="height:21px;width:auto;vertical-align:middle;">&nbsp;&nbsp;&nbsp;<span class="site123link hidden-xs">CREATE YOUR WEBSITE</span></a></div> <a id="gotoTop" class="gotoTop page-scroll" style="display: none;" href="#page-top"><i class="fa fa-angle-up"></i></a> <input type="hidden" id="layoutNUM" name="layoutNUM" value="1"> <input type="hidden" id="footer_layout" name="footer_layout" value="1"> <input type="hidden" id="layoutMenuPositionTXT" name="layoutMenuPositionTXT" value="top"> <input type="hidden" id="versionNUM" name="versionNUM" value="2"> <input type="hidden" id="w" name="w" value=""> <input type="hidden" id="websiteID" value="4163117"> <input type="hidden" id="enable_as_theme" value="0"> <input type="hidden" id="onepage" value="1"> <input type="hidden" id="pjaxSupported" value="1"> <input type="hidden" id="moduleTypeNUM" class="s123-js-pjax" name="moduleTypeNUM" value=""> <input type="hidden" id="hasEcommerce" value="0"> <input type="hidden" id="pageUniqueID" class="s123-js-pjax" name="pageUniqueID" value=""> <script>        var menuScrollOffset = 60;
        var packageNUM = 1;
        var domain = '5f4de9c095797.site123.me';
        var languageCode = 'pl';
        var multiLanCode = '';
        var globalLanguageChildLan          = '';
        var websiteLanguageCode             = '';
        var websiteLanguageCountryCode      = '';
        var websiteLanguageCountryFullCode  = '';
        var IsManagment                     = '1';
        var isMinimize                      = true;

        var $GLOBALS = {
            'cdn-user-files' : '//cdn-cms.f-static.net',
            'maps-display-domain' : 'https://maps.site123.com',
            'cdn-system-files' : '//cdn-cms-s.f-static.net',
            'v-cache' : 'r6910',
        };
        var longFreeCustomer = false;
                // set progressive web applications settings object for published websites only
        var pwaSettings = {
            enableMessage: false,
        };
              
    </script> <!-- JavaScript Translations Object --><script>var translations = {
		"sent"	  		   : "Wys\u0142ane!",
		"enterYourQuery" 	   : "Wpisz zapytanie",
		"loading"		   : "Wczytywanie...",
		"closeEsc"		   : "Zamknij (Esc)",
		"previousLeftArrowKey"	   : "Wstecz (strza\u0142ka w lewo)",
		"NextRightArrowKey"	   : "Dalej (strza\u0142ka w prawo)",
		"of"		   	   : "z",
		"more"		   	   : "WI\u0118CEJ",
		"cart"		   	   :"Koszyk",
		"SearchResult"		   : "Wyniki wyszukiwania",
		"ChooseTheAmountDonate"    : "Wybierz kwot\u0119, kt\u00f3r\u0105 chcesz przekaza\u0107",
		"blogReviewMessage"	   : "Dzi\u0119kujemy! Tw\u00f3j komentarz zostanie opublikowany po zatwierdzeniu przez administratora.",
		"productReviewMessage"	   : "Dzi\u0119kujemy! Twoja opinia zostanie opublikowana po zatwierdzeniu przez administratora.",
		"ConfirmMailingSubscrive"  : "Prosimy, potwierd\u017a sw\u00f3j adres Email, aby dokona\u0107 subskrypcji.",
		"subscribeTellAboutYou"  : "Opowiedz nam o sobie",
		"imageCouldNotLoaded"      : "<a href=\"%url%\">Zdj\u0119cie<\/a> nie zosta\u0142o wczytane.",
		"searchInputValidation"    : "Wprowad\u017a prawid\u0142owe zapytanie.",
		"jqueryValidMsgRequire"    : "Pole jest wymagane.",
		"jqueryValidMsgRemote"     : "Prosimy poprawi\u0107 b\u0142\u0105d w tym polu.",
		"jqueryValidMsgEmail"      : "Prosz\u0119 wprowadzi\u0107 poprawny adres email.",
		"jqueryValidMsgUrl"        : "Prosimy o podanie w\u0142a\u015bciwego adresu URL.",
		"jqueryValidMsgDate"       : "Prosimy o podanie w\u0142a\u015bciwej daty.",
		"jqueryValidMsgDateISO"    : "Prosimy o podanie w\u0142a\u015bciwej daty (ISO).",
		"jqueryValidMsgNumber"     : "Podaj poprawn\u0105 liczb\u0119.",
		"jqueryValidMsgDigits"     : "Prosz\u0119 wpisa\u0107 tylko cyfry.",
		"jqueryValidMsgCreditcard" : "Prosimy o podanie w\u0142a\u015bciwego numeru karty kredytowej.",
		"jqueryValidMsgEqualTo"    : "Wpisz ponownie t\u0105 sam\u0105 warto\u015b\u0107.",
		"jqueryValidMsgAccept"     : "Wpisz warto\u015b\u0107 o prawid\u0142owym rozszerzeniu.",
		"jqueryValidMsgMaxlength"  : "Prosz\u0119 nie wpisywa\u0107 wi\u0119cej ni\u017c {0} znak\u00f3w.",
		"jqueryValidMsgMinlength"  : "Wpisz co najmniej {0} znak\u00f3w.",
		"jqueryValidMsgRangelength":"Wpisz warto\u015b\u0107 o ilo\u015bci znak\u00f3w z przedzia\u0142u od {0} do {1}.",
		"jqueryValidMsgRange"	   : "Wpisz warto\u015b\u0107 z przedzia\u0142u od {0} do {1}.",
		"jqueryValidMsgMax"	   : "Wpisz warto\u015b\u0107 mniejsz\u0105 lub r\u00f3wn\u0105 {0}.",
		"jqueryValidMsgMin"	   : "Wpisz warto\u015b\u0107 wi\u0119ksz\u0105 lub r\u00f3wn\u0105 {0}.",
		"sending"		   : "Wysy\u0142anie",
		"firstName"		   : "Imi\u0119",
		"lastName"		   : "Nazwisko",
		"phone"			   : "Telefon",
		"emailAddress"		   : "Adres email",
		"fileUpload"		   : "Przesy\u0142anie pliku",
		"send"			   : "Wy\u015blij",
		"search"		   : "Szukaj",
		"productvalidatorPopover"  : "Pole wymagane",
		"SpecialRequest" 	   : "\u017byczenie specjalne",
		"restaurantReservation"    : "Rezerwacja restauracji",
		"ThankYouAuto"		   : "Zam\u00f3wienie z\u0142o\u017cone, dzi\u0119kujmy!",
		"ThankYouManual"	   : "Zam\u00f3wienie nie zosta\u0142o jeszcze z\u0142o\u017cone, skontaktujemy si\u0119 z Tob\u0105 wkr\u00f3tce",
		"Ok"			   : "OK",
		"OrderNumber"		   : "Numer zam\u00f3wienia",
		"Date"			   : "Data",
		"Hour"			   : "Godzina",
		"TableSize"		   : "Wielko\u015b\u0107 sto\u0142u",
		"NoAvailableTime"	   : "Przepraszamy, nie ma dost\u0119pnego czasu dla tej daty, prosz\u0119 spr\u00f3bowa\u0107 wpisa\u0107 inn\u0105 dat\u0119.",
		"message"	           : "Wiadomo\u015b\u0107",
		"ThankYou"	           : "Dzi\u0119kujemy",
		"error_title"	   	   : "B\u0142\u0105d",
		"error_body"	   	   : "Ups! Co\u015b posz\u0142o nie tak",
		"limitTickets"	   : "Limit:",
		"tickets"	   : "Bilety",
		"registrationClosed"       : "Rejestracja jest zamkni\u0119ta. Skontaktuj si\u0119 z nami, aby uzyska\u0107 wi\u0119cej informacji.",
		"Sunday"		   : "Niedziela",
		"Monday"		   : "Poniedzia\u0142ek",
		"Tuesday"		   : "Wtorek",
		"Wednesday"		   : "\u015aroda",
		"Thursday"		   : "Czwartek",
		"Friday"		   : "Pi\u0105tek",
		"Saturday"		   : "Sobota",
		"foodDeliverybootBoxTitle" : "Okno zam\u00f3wie\u0144",
		"addToCart"                : "Dodaj do koszyka",
		"save"                	   : "Zapisz",       
		"ThankYouAfterSubmmit" 	   : "Dzi\u0119kujemy za skontaktowanie si\u0119 z nami. Otrzymali\u015bmy twoj\u0105 wiadomo\u015b\u0107 i wkr\u00f3tce odpowiemy.",    
		"country" 					: "Kraj",
		"productQuntityLimit" 		: "Maksymalna ilo\u015b\u0107 produktu wynosi ||units_limitation||.",
		"productQuntityLimitMin" 		: "Produkt jest ograniczony do minimum ||units_limitation|| sztuk.",
		"forumDeleteTopic" 		: "Usuni\u0119cie tematu spowoduje r\u00f3wnie\u017c trwa\u0142e usuni\u0119cie wszystkich powi\u0105zanych odpowiedzi. Czy na pewno chcesz usun\u0105\u0107?",
		"forumDeleteTopicTitle" 	: "Usu\u0144 temat",
		"forumDeleteReply" 		: "Czy na pewno chcesz usun\u0105\u0107 t\u0119 odpowied\u017a?",
		"forumDeleteReplyTitle" 	: "Usu\u0144 odpowied\u017a",
		"forumNewTopic" 	: "Nowy temat",
		"forumCreateNewTopic" 	: "Utw\u00f3rz nowy temat",
		"forumCountOfTotalPosts" 	: "Publikuj \u0142\u0105cznie ||numbers_of_posts|| post\u00f3w",
		"forumSearchPlaceholder" 	: "szukaj temat\u00f3w, post\u00f3w lub kategorii",
		"forumLastReply" 	: "Ostatnia odpowied\u017a",
		"follow" 	: "\u015aled\u017a",
		"following" 	: "\u015aledzi",
		"forumReplies" 	: "Odpowiedzi",
		"forumFrequentPosters" 	: "Cz\u0119sto postuj\u0105cy",
		"chooseCategory" 	: "Wybierz kategori\u0119",
		"linkCopiedToClipboard" 	: "Link skopiowany do schowka",
		"edit" 	: "Edytuj",
		"created" 	: "Utworzono",
		"seeMore" 	: "Zobacz wi\u0119cej",
		"options" 	: "Opcje",
		"joined" 	: "Do\u0142\u0105czy\u0142",
		"posted" 	: "Wys\u0142ane",
		"category" 	: "Kategoria",
		"yes" 	: "Tak",
		"no" 	: "Nie",
		"insertTopicTitle" 	: "Wstaw tytu\u0142 tematu",
		"insertTopicMessage" 	: "Wstaw temat wiadomo\u015bci",
		"reply" 	: "Odpowiedz",
		"addReply" 	: "Dodaj odpowied\u017a",
		"address" 	: "Adres:",
		"city" 	: "Miasto:",
		"state" 	: "Wojew\u00f3dztwo:",
		"zipCode" 	: "Kod pocztowy:",
		"instructions" 	: "Instrukcje:",
		"country_v2" : "Kraj:",
		"chooseDate": "Wybierz dat\u0119",
		"chooseDateAndTime": "Wybierz dat\u0119 i godzin\u0119",
		"chooseTime": "Wybierz czas",
		"total" : "W sumie:",
		"reviewBad": "bardzo z\u0142y",
		"reviewPoor": "z\u0142y",
		"reviewRegular": "normalny",
		"reviewGood": "dobry",
		"reviewGorgeous": "wspania\u0142y",
		"popupButtonSelected": "Wybierz",
		"editHeader": "Edytuj nag\u0142\u00f3wek",
		"editFooter": "Edytuj stopk\u0119",
		"eCommerceSort": {
			"sortBy": "Sortuj wed\u0142ug",
			"recommended": "Zalecana",
			"byHighPrice": "Cena malej\u0105co",
			"byLowerPriceBy": "Cena rosn\u0105co",
		},
		"globalContactEmail": {
			"fullName": "Imi\u0119 i nazwisko",
			"description": "Opis",
			"subject": "Temat",
			"contactUs": "Kontakt",
			"infoBox": "Wype\u0142nij formularz lub wy\u015blij bezpo\u015bredni email na adres ...",
			"thankYouMessage": "Dzi\u0119kujemy za skontaktowanie si\u0119 z nami.",
			"thankYouCloseBtn": "Zamknij"		},
		"editStructure": "Edytuj struktur\u0119",
		"editLogo": "Edytuj logo",
		"eventNumberOfTickets": "Wybierz, ile bilet\u00f3w chcesz kupi\u0107.",
		"magicBtn": {
			"contactUs": {
				"title": "Kontakt",
				"submitBtn": "Kontakt",
				"ThankYouAfterSubmmit": "Dzi\u0119kujemy za skontaktowanie si\u0119 z nami. Otrzymali\u015bmy twoj\u0105 wiadomo\u015b\u0107 i wkr\u00f3tce odpowiemy.",
				"fields": {
					"name": "Imi\u0119",
					"phone": "Telefon",
					"emailAddress": "Adres email",
					"emailAddressValidationdMsg": "Podaj poprawny adres email.",
					"message": "Wiadomo\u015b\u0107",
					"requiredMsg": "Pole jest wymagane.",
				}
			},
			"copyLink": {
				"success": "Link zosta\u0142 skopiowany do schowka.",
			},
			"ExternalLinksPreventor": {
				"title": "Tylko opublikowana wersja",
				"previewExternalLinkMsg": "Pr\u00f3bujesz przej\u015b\u0107 na zewn\u0119trzny link z trybu podgl\u0105du swojej witryny. Opublikuj swoj\u0105 witryn\u0119 i spr\u00f3buj ponownie z adresu URL swojej witryny.",
			},
			"facebookMessenger": {
				"title": "Facebook",
			},
			"whatsApp": {
				"title": "WhatsApp",
			},
			"phone": {
				"title": "Telefon",
			},
			"skype": {
				"title": "Skype",
			},
			"telegram": {
				"title": "Telegram",
			},
			"facebook": {
				"title": "Facebook",
			},
			"twitter": {
				"title": "Twitter",
			},
			"pinterest": {
				"title": "Pinterest",
			},
			"gmail": {
				"title": "Gmail",
			},
			"linkedIn": {
				"title": "LinkedIn",
			},
			"tumblr": {
				"title": "Tumblr",
			},
			"emailApp": {
				"title": "Aplikacja email",
			},
			"copyLink": {
				"title": "Skopiuj link",
			}
		},
		"fillOutAtLeastOneField": "Musisz wype\u0142ni\u0107 przynajmniej jedno pole przed przes\u0142aniem tego formularza.",
		"productCallToAction": {
			"fullName": "Imi\u0119 i nazwisko",
			"description": "Opis",
			"subject": "Temat",
			"title": "Kontakt",
			"infoBox": "Je\u015bli jeste\u015b zainteresowany tym produktem, wype\u0142nij poni\u017cszy formularz:",
			"thankYouMessage": "Dzi\u0119kujemy za skontaktowanie si\u0119 z nami.",
			"thankYouCloseBtn": "Zamknij",
			"phone": "Telefon",
			"productName": "Nazwa produktu:"		},
	};</script><!-- JavaScript Translations Object --> <!-- CSS Minimize Bottom --> <link rel="stylesheet" class="defer-css" data-href="//cdn-cms-s.f-static.net/versions/2/css/minimize-bottom.css?v=r6910" type="text/css" crossorigin="anonymous"> <!-- Minimize JS files --> <script src="//cdn-cms-s.f-static.net/versions/2/js/minimize_p1.js?v=r6910" crossorigin="anonymous"></script><script src="//cdn-cms-s.f-static.net/versions/2/js/minimize_p2.js?v=r6910" crossorigin="anonymous"></script><script src="//cdn-cms-s.f-static.net/versions/2/js/minimize_p3.js?v=r6910" crossorigin="anonymous"></script><script src="//cdn-cms-s.f-static.net/versions/2/js/minimize_p4.js?v=r6910" crossorigin="anonymous"></script><script src="//cdn-cms-s.f-static.net/versions/2/js/minimize_scripts.js?v=r6910" crossorigin="anonymous"></script> <!-- Website Statistics --> <script src="//cdn-cms-s.f-static.net/versions/2/wizard/statistics/js/generateStats-min.js?v=r6910" crossorigin="anonymous"></script> <!-- Floating Magic Button Update Preview Helper --><div> <div class="magic-button-container"> <!-- Contact Magic Button Settings--> <input type="hidden" id="magicButtonSettings" value="{&quot;active&quot;:false,&quot;items&quot;:{&quot;contactUs&quot;:{&quot;order&quot;:0,&quot;value&quot;:&quot;feliks.przybyszewski@gmail.com&quot;,&quot;hasInput&quot;:true}},&quot;greeter&quot;:{&quot;value&quot;:&quot;&quot;,&quot;active&quot;:false},&quot;siteLogo&quot;:&quot;&quot;,&quot;siteName&quot;:&quot;Fakturorama&quot;}"> <!-- Share Magic Button Settings --> <input type="hidden" id="shareMagicButtonSettings" value="{&quot;active&quot;:false,&quot;items&quot;:{&quot;faceBook&quot;:{&quot;order&quot;:1,&quot;value&quot;:&quot;&quot;}},&quot;siteLogo&quot;:&quot;&quot;,&quot;siteName&quot;:&quot;Fakturorama&quot;}"> <!-- All Magic Buttons --> <div class="all-magic-buttons"></div> </div></div><!-- Pjax Helper --><div class="s123-front-last-element hidden"></div></body></html>